@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.header-section {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    padding: 18px 190px;
    gap:30px;
}
 
.left-side {
     
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    padding: 0px;
    margin: 0;
    
    
}
.right-side {
    padding: 0px;
    margin: 0;
    
}

ul {
    display: flex;
    gap: 21px;
    list-style-type: none;
    
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;

}


.hero-section {
    background-color: #1F2937;
    display: flex;
    padding: 100px 190px;
    gap: 50px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-head {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

img {
    
    max-width: 100%;
    border-radius: 8px;
    
    
 
}

.wrapper {
    max-width: 475px;
    align-self: center;
}


    
button {
  cursor: pointer;
  padding: 8px 30.3px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  background: #3882F6;
  color: white;
}

button.hero {
  
  border: 1px solid #3882F6;
  
}

.hero-text {
    color: #E5E7EB;
    font-size: 18px;
}


.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 0px ;
    gap :51px;
}
.info-title {
    color:#1F2937 ;
    font-size: 36px;
    font-weight: 900;
    
    
}

.box-container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-direction: column;
    width: 154px;
    gap:8px;
    
    
}

.card {
    width: 145px;
    height: 145px;
    border: solid 5px #3882F6;
    border-radius: 10px;
}

.card-text {
    
    
    text-align: center;
}

.quote-section {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 124px 318px;
    gap: 10px;
    
    
    
    background-color: #E5E7EB;
}

.quoter {
    
    align-self :flex-end;
    font-weight: bolder;
    font-size: large;
    
}

em {
    min-width: 367px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    text-align:start;
    padding: 0;
    
}


.action-section {
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90.5px 189px;
}

.action-container {
    
    
    display: flex;
    
    padding: 48.3px 110px;
    background-color: #3882F6;
    
    gap: 147px;
    border-radius: 8px;
}

button#action {
  
  border: 3px solid rgb(255, 255, 255);
  
}

.action {
    color: white;
    display: flex;
    flex-direction: column;
    min-width: 174px;
}

.action-title {
    font-weight: 900;
    font-size: 20px;
}

.footer {
    padding: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
}

.buttons {
    align-self: center;
    flex-shrink: 0;
}